# UC Berkeley Extension Data Analytics Program

## Homework 4: Pandas

Task: Heroes of Pymoli

Submitted by: Alejandro Montesinos

Date: March 14, 2019

## Abstract

In this exercise I analyze purchasing data of the most recent fantasy game Heroes of Pymoli. This game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. The data used in this analysis contains information from 780 purchases made by 576 different players on 183 different items.

A summary of findings is presented below:

- The typical player is a male (84.06%) in his early twentieths. Average age is 22.75 years and the age group 20-24 is by far the largest group representing 44.8% of all players.

- Players on average purchase 1.34 items and spend $4.13 per player

- The total revenue from all purchases is 23,79.77 and the average purchase price is $3.05

- Males spends the most on aggregate (1,967.64) but females spend more per purchase on average (4.47 vs 4.07)

- The group 20-24 years old spend the most on aggregate (1,114.06) but the group 35-39 spend more per purchase on average ($4.76)

- The most popular item is Oathbreaker, Last Hope of the Breaking Storm with 12 purchases in total and is also the most profitable with $50.76 in total purchases value.

In [1]:
# Import Dependencies
import pandas            as pd
import numpy             as np
import matplotlib.pyplot as plt

# Preliminary Work

In this section the CSV file containing purchase data is imported and a Player level file as generated from the purchase level data

In [2]:
# Import CSV file as a DataFrame
pymoli_df = pd.read_csv("./Resources/HeroesOfPymoli_Resources_purchase_data.csv")
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Create a Data Frame with Player level information 

#Get the count of purchases per player
pl_count     = pymoli_df.groupby("SN", as_index=False)["Purchase ID"].count()
pl_count = pl_count.rename(columns={"Purchase ID":"Number Purchases"})

#Get the amount spent on purchases per player 
pl_exp       = pymoli_df.groupby("SN", as_index=False)["Price"].sum()
pl_exp = pl_exp.rename(columns={"Price":"Expenditure"})

#Now merge the data together 
pl_count_exp = pd.merge(pl_count, pl_exp, on="SN", how="inner")

In [4]:
#Now get all player level info together

#Keep only player-level data from Purchase data and dedupe
pldf = pymoli_df[["SN","Age","Gender"]]
pldf = pldf.drop_duplicates(["SN"])                       #Dedupe atplayer level
pldf = pldf.sort_values(["SN"]).reset_index(drop=True)    #Now thre's only one observation per bene

#Add number of purchases and amount spent to Player level data
player_df = pd.merge(pldf, pl_count_exp, on="SN", how="inner")

# 1. Player level analysis

This section presents summary statistics of purchases by players

In [5]:
#Get summary Stats at player level
total_num_player = player_df["SN"].nunique()

print("Summary Stats of Players")
print("--"* 20)
print("Total Number of Players:       " + str(total_num_player))
print("Average age:                   " + str(round(player_df["Age"].mean(),2)))
print("Average purchases per player:  " + str(round(player_df["Number Purchases"].mean(),2)))
print("Average expenditure:          $" + str(round(player_df["Expenditure"].mean(),2)))
print("--"* 20)

Summary Stats of Players
----------------------------------------
Total Number of Players:       576
Average age:                   22.74
Average purchases per player:  1.35
Average expenditure:          $4.13
----------------------------------------

# 2. Overall Purchasing Analysis

This section presents summary statistics from all purchases

In [6]:
#Calvulate total Purchases and Revenue
total_purchases = pymoli_df["Purchase ID"].count()
total_revenue   = pymoli_df["Price"].sum()

In [7]:
#Summarize data
print("Overall Purchasing Analysis")
print("--"* 20)
print("Number of Unique Items:     " + str(pymoli_df["Item ID"].nunique()))
print("Average Purchase Price:    $" + str(round((total_revenue/total_purchases),2)))
print("Total Number of Purchases:  " + str(total_purchases))
print("Total Revenue:             $" + str(total_revenue))
print("--"* 20)

Overall Purchasing Analysis
----------------------------------------
Number of Unique Items:     183
Average Purchase Price:    $3.05
Total Number of Purchases:  780
Total Revenue:             $2379.77
----------------------------------------

# 3. Gender Demographics

This section presents the breakdown of players by gender.

In [8]:
gender_tab = player_df.groupby("Gender", as_index=False)["SN"].count()         #Create a Table unique by Gender
gender_tab.set_index("Gender", inplace = True)                                 #Set index to Gender
gender_tab = gender_tab.rename(columns={"SN":"Number of Players"})
gender_tab["Percent"] = (gender_tab["Number of Players"]/total_num_player)*100 #Compute percentages
gender_tab["Percent"] = gender_tab["Percent"].map("{:.2f}%".format)            #Format the percent column
gender_tab.head()

                       Number of Players Percent
Gender
Female                                81  14.06%
Male                                 484  84.03%
Other / Non-Disclosed                 11   1.91%

# 4. Purchasing Analysis  by Gender

This section adds on previous section by presenting purchase summary statistics by gender

In [9]:
#Get purchasing data by gender
g_purchase = player_df.groupby("Gender", as_index=False)["Number Purchases"].sum()
g_value = player_df.groupby("Gender", as_index=False)["Expenditure"].sum()

#Merge the data together
g_pur_val = pd.merge(g_purchase, g_value, on="Gender", how="inner")

In [10]:
#Add the new data to our existing gender level data frame
gender_tab = pd.merge(gender_tab, g_pur_val, on="Gender", how="inner")
gender_tab.set_index("Gender", inplace = True)

In [11]:
#Compute averages
gender_tab["Average Purchase Price"] = gender_tab["Expenditure"]/gender_tab["Number Purchases"] 
gender_tab["Avg Purchase Total per Person"] = gender_tab["Expenditure"]/gender_tab["Number of Players"] 

#Output final table
purchase_gender = gender_tab[["Number Purchases","Average Purchase Price","Expenditure","Avg Purchase Total per Person"]]
purchase_gender = purchase_gender.rename(columns={"Number Purchases":"Purchase Count","Expenditure":"Total Purchase Value"})

#Format output and print final table
itemlist = ["Average Purchase Price", "Total Purchase Value", "Avg Purchase Total per Person"]
for item in itemlist:
    purchase_gender[item] = purchase_gender[item].map("${:,.2f}".format)

purchase_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# 5. Age Demographics

This section presents the breakdown of players by age. Players have been grouped into different age categories.

In [12]:
#Bin data by age
max_age = (player_df["Age"].max())+100
bins   = [0,9, 14, 19, 24, 29, 34, 39, max_age]
labels = ["<10", "10 - 14", "15 - 19", "20 - 24", "25 - 29", "30 - 34", "35 - 39", "40+"]
player_binned=player_df
player_binned["Age_bins"] = pd.cut(player_binned["Age"], bins=bins, labels=labels)

In [13]:
#Get Demographic Table by Age bins
demo_tab = player_binned.groupby("Age_bins", as_index=False)["SN"].count()
demo_tab["Percent"] = (demo_tab["SN"]/total_num_player)*100                     #Compute percentages
demo_tab.set_index("Age_bins", inplace = True)                                  #Set index to Gender
demo_tab = demo_tab.rename(columns={"SN":"Number of Players"})
demo_tab["Percent"] = demo_tab["Percent"].map("{:.2f}%".format)            #Format the percent column
demo_tab

          Number of Players Percent
Age_bins
<10                      17   2.95%
10 - 14                  22   3.82%
15 - 19                 107  18.58%
20 - 24                 258  44.79%
25 - 29                  77  13.37%
30 - 34                  52   9.03%
35 - 39                  31   5.38%
40+                      12   2.08%

# 6. Purchasing Analysis by Age

This section adds on previous section by presenting purchase summary statistics by age category

In [14]:
#Get purchasing data by Age
ab_purchase = player_binned.groupby("Age_bins", as_index=False)["Number Purchases"].sum()
ab_value    = player_binned.groupby("Age_bins", as_index=False)["Expenditure"].sum()

#Merge the data together
ab_pur_val = pd.merge(ab_purchase, ab_value, on="Age_bins", how="inner")

In [15]:
#Add the new data to our existing gender level data frame
demo_tab = pd.merge(demo_tab, ab_pur_val, on="Age_bins", how="inner")
demo_tab.set_index("Age_bins", inplace = True)

In [16]:
#Compute averages
demo_tab["Average Purchase Price"] = demo_tab["Expenditure"]/demo_tab["Number Purchases"] 
demo_tab["Avg Purchase Total per Person"] = demo_tab["Expenditure"]/demo_tab["Number of Players"]  

#Output final table
purchase_age = demo_tab[["Number Purchases","Average Purchase Price","Expenditure","Avg Purchase Total per Person"]]
purchase_age = purchase_age.rename(columns={"Number Purchases":"Purchase Count","Expenditure":"Total Purchase Value"})


#Format output and print final table
itemlist = ["Average Purchase Price", "Total Purchase Value", "Avg Purchase Total per Person"]
for item in itemlist:
    purchase_age[item] = purchase_age[item].map("${:,.2f}".format)
purchase_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Age_bins,,,,
<10,23,$3.35,$77.13,$4.54
10 - 14,28,$2.96,$82.78,$3.76
15 - 19,136,$3.04,$412.89,$3.86
20 - 24,365,$3.05,"$1,114.06",$4.32
25 - 29,101,$2.90,$293.00,$3.81
30 - 34,73,$2.93,$214.00,$4.12
35 - 39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# 7. Top Spenders

This section identifies the top spenders by ranking individual players by total amount spent

In [17]:
#Compute Average purchase price and sort data
sorted_player = player_df.sort_values(["Expenditure"], ascending=False).reset_index(drop=True) 
sorted_player["Average Purchase Price"] = sorted_player["Expenditure"]/sorted_player["Number Purchases"] 

#Get Top Spenders table
top_spenders = sorted_player[["SN","Number Purchases","Average Purchase Price","Expenditure"]]
top_spenders = top_spenders.rename(columns={"Number Purchases":"Purchase Count","Expenditure":"Total Purchase Value"})
top_spenders = top_spenders.iloc[0:5]           #Select only the Top 5 spenders
top_spenders.set_index("SN", inplace = True)    #Set index to SN

#Format and putput table
itemlist = ["Average Purchase Price", "Total Purchase Value"]

for item in itemlist:
    top_spenders[item] = top_spenders[item].map("${:,.2f}".format)

top_spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

# 8. Most Popular Items

This section shows the most popular items by ranking intems based of the number of purchases

In [18]:
#Get purchasing data by Item
pop_count    = pymoli_df.groupby("Item ID", as_index=False)["Purchase ID"].count()
pop_value    = pymoli_df.groupby("Item ID", as_index=False)["Price"].sum()

#Merge the data together
pop_count_val = pd.merge(pop_count, pop_value, on="Item ID", how="inner")
pop_count_val = pop_count_val.rename(columns={"Purchase ID":"Purchase Count","Price":"Total Purchase Value"})

In [19]:
#Keep only item-level data from Purchase data and dedupe
itdf = pymoli_df[["Item ID","Item Name","Price"]]
itdf = itdf.drop_duplicates(["Item ID"])                       #Dedupe atplayer level
itdf.head()

#Merge Purchasing data
pop_items_df = pd.merge(itdf, pop_count_val, on="Item ID", how="inner")
pop_items_df = pop_items_df[["Item ID","Item Name","Purchase Count","Price","Total Purchase Value"]]
pop_items_df = pop_items_df.sort_values(["Purchase Count","Item ID"], ascending=False).reset_index(drop=True)
pop_items_df.set_index(["Item ID","Item Name"], inplace = True)    #Set index to SN

#Format Table
itemlist = ["Price", "Total Purchase Value"]

for item in itemlist:
    pop_items_df[item] = pop_items_df[item].map("${:,.2f}".format)

pop_items_df.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
103,Singed Scalpel,8,$4.35,$34.80

# 9 Most Profitable Items

This section shows the most profitable items by ranking intems based of the total purchase value

In [20]:
#Merge Purchasing data
profit_df = pd.merge(itdf, pop_count_val, on="Item ID", how="inner")
profit_df = profit_df[["Item ID","Item Name","Purchase Count","Price","Total Purchase Value"]]
profit_df = profit_df.sort_values(["Total Purchase Value"], ascending=False).reset_index(drop=True)
profit_df.set_index(["Item ID","Item Name"], inplace = True)    #Set index to SN

#Format Table
itemlist = ["Price", "Total Purchase Value"]

for item in itemlist:
    profit_df[item] = profit_df[item].map("${:,.2f}".format)

profit_df.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80